version: "3.9"

services:
  db:
    image: postgres:15
    container_name: eventura_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: eventura
    ports:
      - "6002:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: eventura_backend
    restart: always
    ports:
      - "5005:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
    command: sh -c "npx prisma generate && npx prisma migrate deploy && npm start"
    volumes:
      - ./backend/uploads: /app/uploads

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: eventura_frontend
    restart: always
    ports:
      - "8080:80"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

volumes:
  db_data:
