header {
  background-color: var(--cor_3-roxo_escuro);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-container {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: 'Rubik One', sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: var(--cor_5-amarelo); /* Alterado de branco para amarelo */
  text-decoration: none;
}

.header-nav {
  display: flex;
  align-items: center;
  position: relative;
}

.header-link {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: var(--cor_1-branco);
  text-decoration: none;
  margin-right: 45px;
  position: relative;
}

.header-link:hover {
  color: var(--cor_5-amarelo);
}

.header-link:hover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--cor_5-amarelo);
}

.header-button {
  width: 160px;
  height: 50px;
  background-color: var(--cor_5-amarelo);
  color: var(--cor_3-roxo_escuro);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.header-button:hover {
  background-color: var(--cor_1-branco);
  color: var(--cor_3-roxo_escuro);
}

.header-button i {
  margin-left: 8px;
}