/* frontend/src/pages/ResetPasswordPage.css */

.reset-password-wrap .card h1 {
  margin-bottom: 25px;
}

.reset-password-wrap .card .muted {
  margin-bottom: 40px;
}

.reset-password-wrap .form {
  gap: 20px;
}

.reset-password-wrap .links {
  margin-top: 25px;
}