name: Deploy Eventura

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Criar pacote seguro (sem .git)
        run: |
          mkdir deploy
          cp -r backend frontend docker-compose.yml deploy/
          tar -czf deploy.tar.gz deploy

      - name: Enviar deploy.tar.gz para o servidor
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "deploy.tar.gz"
          target: "/home/esof/projetosiftm/eventura"

      - name: Extrair no servidor e rodar Docker Compose
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/esof/projetosiftm/eventura

            # limpar deploy anterior
            rm -rf eventura
            mkdir eventura
            
            mv deploy.tar.gz eventura/
            cd eventura

            tar -xzf deploy.tar.gz

            # agora entra na pasta deploy onde estão backend e frontend
            cd deploy

            docker compose down || true
            docker compose up -d --build
